
/* 
    Created on : 10.04.2018, 14:24:16
    Author     : Сергей
*/

.vert_menu {
    list-style-type:none; 
    border: 1px solid #f6f6f6 ; 
    padding-left: -15px;
    /*background-color: #f6f6f6;*/
    /*color: #ebebeb*/
}

.carousel-img {
    /*max-height: 1550px;*/
}
.article_img {
    max-height: 300px;
}

.article_text {
    font-family: Verdana, Geneva, sans-serif;
}